.switch_checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
}

.switch_label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 200px;
    height: 34px;
    background: #fff;
    border-radius: 100px;
    position: relative;
    transition: background-color .2s;
}

.switch_label .switch_button {
    content: '';
    position: absolute;
    left: 1px;
    width: 50%;
    border-radius: 45px;
    transition: 0.2s;
    background: #1976d2;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);

    .switch_text {
       
        font-size: 30px;
        font-weight: 500;
        text-transform: capitalize;
        color: black;
        @media screen and (max-width: 768px) {
            font-size: 28px
        }
    }
}

.switch_checkbox:checked+.switch_label .switch_button {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.switch_label:active .switch_button {
    width: 60px;
}